<!DOCTYPE html>
<html lang="en">
   
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/style5.css">
    <link rel="stylesheet" href="/static/css/style9.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1//static/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/94e3807b52.js" crossorigin="anonymous"></script>
    <title>Trufit Kitchen | Make Your Dream Kitchen</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trufit Kitchen | About Us </title>
 
    <link rel="stylesheet" href="/static/css/parr.css">
    <link rel="stylesheet" href="/static/css/CSS/style.css">
    <link rel="stylesheet" href="/static/css/CSS/responsive.css">
</head>

<style>
  div , h2 , p , span {
    color: #fff;
  }
  body{
    background: none;
  }
</style>
<body>
    
    <div class="img1">
      <header>
        <section class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="images/truefit logo.jpg" alt="image" width="125px"></a>
                </div>
                <nav>
                  <ul id="menu-items">
                    <li ><a  href="index.html">HOME </a></li>
                    <li ><a  href="Products.html">PRODUCTS</a></li>
                    <li ><a  href="parallax.html">ABOUT US</a></li>
                    <li ><a  href="contact-us.html">CONTACT US </a></li>
                </ul>
                </nav>
                <a  href="cart.html"><img src="images/cart.png" alt="cart" width="30px" height="30px"></a>
                <a class="login-btn" href="Account.html"> Login / Sign Up </a>
                <img src="images/menu.png" class="menu-icon" onclick="ShowMenu()" alt="">
            </div>
        </div>
    </section>
    </header>
    <section class="header">
        <div class="ptext">
            <span class="border">
                TRUFIT KITCHEN
            </span>

        </div>
    </div>
    <section class="section section-light">
        <h2>KNOW MORE</h2>
        <p>
          TRUFIT KITCHEN family brings to you the new age tech for your kitchens. Our young start up is set to achieve milestones in the coming years, and make your cooking experience easy and fun. Its said that happiness is a small house with a smart kitchen, but with us you will have the smart kitchen of your dreams. Our aim at Trufit kitchen is to bring your dream kitchen to reality with an enjoyable journey. With us you will be incharge the whole way with some professional inputs from our side until you have your own smart kitchen which suits your space is a new example to your modern living. From our giving model to our company and sustainable product design, we see our business as a vehicle to make an impact.
There's no better way to shorten your time in the kitchen than smart kitchen appliances. With every invention, it feels like there could be more. As a result, even the most basic things we use on a day-to-day basis in the kitchen have become pretty advanced.
We already have a few products and ideas in our pockets which we are eager to share with you and be part of your smart kitchen journey
The kitchen is the source from where the entire family derives energy to stay healthy and energetic the whole day. A well-arranged kitchen offers homemakers daily motivation to cook in an even better mood. Thus, one of the most common ways to get this transformation is by getting a modular kitchen.</p>
Get the smart kitchen of your dreams with us
        </p>
      </section>
    
      <div class="img2">
        <div class="ptext">
          <span class="border trans">
            
          </span>
        </div>
      </div>
    
      <section class="section section-dark">
        <h2>FOUNDER</h2>
        <p>
          ASHUTOSH KUMAR ROY
        <BR>
        akroy8376@gmail.com
        <br>
        8920971013
        </p>
      </section>
    
      <div class="img3">
        <div class="ptext">
          <span class="border trans">
           
          </span>
        </div>
      </div>
    
      <section class="section section-dark">
        <h2>CO-FOUNDER</h2>
        <p>
        PAWAN DIXIT
        <BR>
          pawan192001@gmail.com
          <br>
          8053951072
        </p>
      </section>
    
      <div class="img1">
        <div class="ptext">
          <span class="border">
            THANK YOU 
          </span>
        </div>
      </div>
      
 
      <!-- ###################### JS For menu  -->
    <script>
      let menuItems = document.getElementById("menu-items");
      menuItems.style.maxHeight = "0px";
      function ShowMenu(){
          if (menuItems.style.maxHeight == "0px"){
              menuItems.style.maxHeight = "200px"
          }
          else{
              menuItems.style.maxHeight = "0px"
          }
      }

  </script>
  
</body>
</html>