<section class="header">
{% extends 'home/base.html'%}
{% block content %}



            <div class="row">
                <div class="col-2">
                    <h1 style="color: #000;">Give Your Kitchen <br> A New Style!</h1>
                    <p style="font-size:20px;">Happiness is a small house, with a big kitchen.</p>
                    <a href="Products.html" class="btn">Explore Now &#x2192;</a>
                </div>
                <div class="col-2">
                    <div class="text">
                        <p> WE ARE </p>
                    <h1>TRUFIT <br> KITCHEN</h1>
                    <h3>WE HELP PEOPLE MAKE THEIR DREAM KITCHENS</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ########################################### Featured Categories ################################### -->
    <section class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="images/feature-image-1.jpg" class="odd-image" alt="categories">
                    <div class="layer">
                        <h3 style="font-weight: 700;">Modern Kitchen <br>Gadgets</h3>
                    </div>
                </div>

                <div class="col-3"><img src="images/feature-image-2.jpg" class="odd-image" alt="categories">
                    <div class="layer">
                        <h3 style="font-weight: 700;">Kitchen <br> Management</h3>
                    </div>
                </div>

                <div class="col-3"><img src="images/feature-image-3.jpg" class="odd-image" alt="categories">
                    <div class="layer">
                        <h3 style="font-weight: 700;">Convenient Hand Tools</h3>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- #################################### FEATURED PRODUCTS ########################################### -->
    <section>
        <div class="small-container">
            <h2 class="title">Featured Products</h2>
            <div class="row">
                <div class="col-4"><a href="product-details.html"><img src="images/featured-product-1.jpg" alt=""></a>
                    <a href="product-details.html"><h4>Set Of Steel Cooking Utensils</h4></a>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p> &#x20B9 999</p>
                </div>
                <div class="col-4"><img src="images/featured-product-2.jpg" alt="">
                    <h4>
                        Stainless Steel Pan
                    </h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>&#x20B9 1499</p>
                </div>
                <div class="col-4"><img src="images/featured-product-3.jpg" alt="">
                    <h4>
                        Gas Stove
                    </h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                    <p>&#x20B9 4999</p>
                </div>
                <div class="col-4"><img src="images/featured-product-4.jpg" alt="">
                    <h4>
                        Wooden Rolling Board
                    </h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p>&#x20B9 499</p>
                </div>
            </div>
        </div>
    </section>
    
   
    <!-- ################################## offer ################################ -->
    <section class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2"><img src="images/offer-img.png" class="offer-img" alt=""></div>
                <div class="col-2">
                    <p>Offers Available on True Fit</p>
                    <h1 style="color:#000 ;"> Blender.</h1>
                    <small> Smart Blender<br>
                    </small>
                    <a href="" class="btn">Buy Now &#x2192;</a>
                </div>
            </div>
        </div> 
        
    </section>

    <!-- ################################ TESTIMONIAL ############################ -->
    <section class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa-solid fa-quote-left quote"></i>
                    <p>Good Quality of Product and good Customer Service </p>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                    <img src="images/user-1.png" alt="">
                    <h3>Sean Parker</h3>
                </div>
                <div class="col-3">
                    <i class="fa-solid fa-quote-left quote"></i>
                    <p> value for money and Overall the features and performance of fridge is excellent. However, there is little space for water bottles. </p>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                    <img src="images/user-2.png" alt="">
                    <h3>Mike Smith</h3>
                </div>
                <div class="col-3">
                    <i class="fa-solid fa-quote-left quote"></i>
                    <p>Very nice, no damages. Specious in side. Can buy it with out any doubt.</p>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                    <img src="images/user-3.png" alt="">
                    <h3>Mabel Joe</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- ################################## BRANDS ############################## -->

    <section class="brands">
        <div class="small-container">
            <h2 class="title">Our Sponsors</h2>
            <div class="row">
                <div class="col-5">
                    <img src="images/manav-logo.jpg" alt="">
                </div>
               <!-- <div class="col-5">
                    <img src="images/logo-oppo.png" alt="">
                </div>
                <div class="col-5">
                    <img src="images/logo-coca-cola.png" alt="">
                </div>
                <div class="col-5">
                    <img src="images/logo-paypal.png" alt="">
                </div>
                <div class="col-5">
                    <img src="images/logo-philips.png" alt="">
                </div>-->
            </div>
        </div>
    </section>
>


</html>






{% endblock content %}


